@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.photo {
  height: 40vmin;
}

.about h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(10px + 3vw);
  padding-bottom: min(10vw, 250px);
}  

.about p {
  text-align: justify;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
.about {
    background-color: #23262b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.App-link {
    color: #61dafb;
  }
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }