@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.contact-section {
  background-color: #282c34;
}

.contact {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: auto;
    padding: 0;
  }

.contact h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(10px + 3vw);
    padding-bottom: min(10vw, 250px);
    padding-top: min(5vw, 175px);
  }  
  
.contact form {
  margin: 0 2vw;
}

.contact legend {
  font-size: calc(7.5px + 2vw);
}

.contact button {
  font-size: calc(7px + 0.7vw);
  background-color: #282c34;
  color:#61dafb;
  border-width: 2px;
  border-color: #61dafb;
}

.contact button:hover {
  color:#282c34;
  border-color: #61dafb;
  background-color: #61dafb;
}