.logo-container {
    width: 10vw;
    background-color: #23262b;
    padding: 0;
    position: relative;
}

.nav-logo {
  position: absolute;
  top: -27px;
  left: 0;
  box-sizing: content-box;
  width: 100px;
  }

.nav-logo-circle {
  position: absolute;
  box-sizing: content-box;
  width: 100px;
  }

@media (prefers-reduced-motion: no-preference) {
    .nav-logo-circle {
      animation: nav-logo-circle-spin infinite 20s linear;
    }
  }

@media (max-width:991px) {
    .nav-link:link, .nav-link:visited {
      color: white;
    }
    .nav-link:active {
      color: #61dafb;
    }
}​

@keyframes nav-logo-circle-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }